@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<style type="text/css">
    #Datmua a{
        clear:both; background-color:red;
        color:white; width:120px; height: 35px;
        display:block; float: right; text-align:center;
        padding-top:10px; text-decoration:none; font-weight:bold;
    }
    #Datmua a:hover{
        background-color:gray;
        color:red;
    }
</style>
<h2>THÔNG TIN CHI TIẾT SÁCH</h2>
<h3>Tên sách: @Model.Tensach</h3>
<div>
    <div style="width:40%"; float:left; border-left dotted 1px; border-color:azure">
        <img src="~/Hinhsanpham/@Model.Anhbia" width="100%" />
     </div>
     <div style="width:60%; float:left; padding:10px;">
    <h4 style="font-weight:bold; color:red">Tên sách: @Model.Tensach</h4>
        <p style="text-align:justify"><span style="font-weight:bold">Mô tả: </span>@Model.Mota</p>
         <p style="font-weight:bold">Giá bán:<span style="color:red; font-size:16pt">@Model.Giaban VND</span></p>
    </div>
    <div>
        <div  id="Datmua">
            <a href="@Url.Action("ThemGiohang","GioHang", new { @iMasach = @Model.Masach, @strURL = Request.Url.ToString() })" class="list-group-item">
                Đặt Mua
            </a>
        </div>
    </div>
    
  
</div>