@using MvcBookStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<MvcBookStore.Models.SACH>

@helper Truncate(string input, int length) { 
        if(input.Length < length)
        {
                @input
        }
        else
        {
                @input.Substring(0,length)<text>...</text>
        }
    }

@{
    ViewBag.Title = "Sach";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>BOOK MANAGER</h2>
<p>
    @Html.ActionLink("ADD NEW","Themmoisach")
</p>
<table class="table">
    <tr>
        <th style="width:200px">
            Tên sách
        </th>
        <th style="width:100px">
            Giá bán
        </th>
        <th style="width:300px">
            Mô tả
        </th>
        <th style="width:120px">
            Ảnh bìa
        </th>
        <th style="width:150px">
            Ngày cập nhật
        </th>
        <th style="width:120px">
            Số lượng tồn
        </th>
        <th style="width:120px">
            Tên chủ đề
        </th>
        <th style="width:100px">
            Tên NXB
        </th>
        <th style="width:200px"></th>
</tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tensach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giaban)
        </td>
        <td>
            @Truncate(item.Mota,100)
        </td>
        <td>
           <img src="@Url.Content("~/Hinhsanpham/"+ item.Anhbia)" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.TenChuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHAXUATBAN.TenNXB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Suasach", new { id=item.Masach }) |
            @Html.ActionLink("Details", "Chitietsach", new { id=item.Masach }) |
            @Html.ActionLink("Delete", "Xoasach", new { id=item.Masach })
        </td>
    </tr>
}

</table>
Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
       @Html.PagedListPager(Model, page => Url.Action("Sach", new { page = page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
